.button {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  background-color: $orange;
  color: $white;
  line-height: 35px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s ease-in;

  @media (min-width: 768px) {
    height: 43px;
    line-height: 43px;
    padding-left: 17px;
    padding-right: 17px;
  }

  @media (min-width: 1200px) {
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &:hover {
    background-color: $blue;
  }
}
