.title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: $gray;
  line-height: 1.2;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 15px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 25px;
  }
}
